{% extends "backend/base.html" %}

{% block title %}Real IT Creator - Consultoría en IA & IT{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://picsum.photos/1600/600" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://picsum.photos/1600/600" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://picsum.photos/1600/600" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>


    <hr class="hr hr-blurry" />


    <div class="row mt-4">
        <div class="col-12">
            <h2>Nuestros Servicios</h2>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://picsum.photos/400/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Auditorías de IA y IT</h5>
                    <p class="card-text text-muted">Evalúa las infraestructuras de IA y IT existentes y proporciona recomendaciones.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://picsum.photos/400/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Desarrollo e Implementación de IA</h5>
                    <p class="card-text text-muted">Crea y aplica soluciones de IA personalizadas para procesos empresariales.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://picsum.photos/400/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Seguridad IT y Protección de Datos</h5>
                    <p class="card-text text-muted">Ofrece servicios para mejorar la seguridad de los sistemas y proteger los datos.</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr hr-blurry" />

    <div class="row mt-4">
        <div class="col-12">
            <h2>A quién va dirigido</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
            <div class="col d-flex align-items-start">
                <i class="bi bi-briefcase text-body-secondary me-3" style="font-size: 36px;"></i>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Pequeñas y Medianas Empresas (PyMEs)</h3>
                    <p class="text-muted">Impulsa el crecimiento de tu PyME con soluciones de IA y IT a medida que mejoran la eficiencia y la competitividad.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <i class="bi bi-rocket-takeoff text-body-secondary me-3" style="font-size: 36px;"></i>

                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Startups Tecnológicas</h3>
                    <p class="text-muted">Acelera el éxito de tu startup tecnológica mediante estrategias de IA y IT que potencian la innovación y la escalabilidad.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <i class="bi bi-building text-body-secondary me-3" style="font-size: 36px;"></i>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Grandes Corporaciones</h3>
                    <p class="text-muted">Optimiza la gestión y la seguridad de tus sistemas para grandes corporaciones con nuestras soluciones de consultoría en IA y IT.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <i class="bi bi-journal-richtext text-body-secondary me-3" style="font-size: 36px;"></i>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Sector Educativo y de Formación</h3>
                    <p class="text-muted">Moderniza la educación con tecnología de vanguardia, mejorando la calidad y la eficacia de los procesos educativos.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <i class="bi bi-people text-body-secondary me-3" style="font-size: 36px;"></i>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Freelance</h3>
                    <p class="text-muted">Potencia tu carrera freelance con herramientas tecnológicas y asesoramiento especializado en IA y IT para alcanzar tus objetivos de manera eficiente.</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr hr-blurry" />

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border-primary mb-4">
                    <div class="card-body">
                        <h2 class="card-title text-center">Contáctanos</h2>
                        <p class="card-text text-center text-dark">Si estás interesado en nuestros servicios de consultoría o formación en IA y IT, ¡no dudes en ponerte en contacto con nosotros!</p>
                        <div class="text-center">
                            <a class="btn btn-primary" href="{% url 'contact' %}">Contacta ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

